In [1]:
import csv
import pandas as pd

In [2]:
nombre_archivo = 'datos\\categorias.csv'
dfcategorias = pd.read_csv(nombre_archivo)

dfcategorias=dfcategorias.drop(['Unnamed: 0'],axis=1)

In [3]:
dfcategorias

      id_categoria           categoria
0                0          restaurant
1                1   buffet restaurant
2                2              bakery
3                3                deli
4                4   gift basket store
...            ...                 ...
1476          1610  damage restoration
1477          1611   hair loss centers
1478          1612  car window tinting
1479          1613                 wig
1480          1614   printing services

[1481 rows x 2 columns]

In [4]:
nombre_archivo = 'datos\\restaurantes.csv'
dfrestaurantes = pd.read_csv(nombre_archivo)

dfrestaurantes=dfrestaurantes.drop(['Unnamed: 0'],axis=1)

In [5]:
dfrestaurantes

,id_restaurante,id_ciudad,identificador_yelp,identificador_google,nombre,direccion,latitud,longitud,avg_rating,reviews_count,estado
0,0,51,NaN,0x88db4147b1d9e6f3:0x943dbd10a92ba1b1,Cape Seafood Shack,603 Del Prado Blvd S,26.641377,-81.940545,5.0,1,Normally open
1,1,312,NaN,0x88c2e4e34f1ed783:0x76c5da381c499d79,Fresh Point Country Buffet,10525 US-19,27.867489,-82.702971,5.0,2,Permanently closed
2,2,258,NaN,0x88dae191ee505917:0x6ba3e25388d3fad4,Oneyda's Bakery,600 Goodlette-Frank Rd #101,26.154754,-81.790528,4.6,19,Permanently closed
3,3,242,NaN,0x88d9c754413f6c9d:0x1f93eff5e0ba9c16,Annie's Bake Shoppe,10331 SW 54th St,25.717416,-80.361945,4.3,3,Normally open
4,4,242,NaN,0x88d9b99475d9fd7b:0xea6083d207b2471a,Tropical Park Liquors,7971 SW 40th St Suite #22,25.733914,-80.325216,4.7,8,Normally open
...,...,...,...,...,...,...,...,...,...,...,...
26431,26606,102,uakBDIQ5uDIG9QsVSv3aHA,NaN,King of Tarts,"1414 E Old York Rd, Ste E",40.228769,-75.094705,4.5,20,Normally open
26432,26607,361,8MzF1Tlgz0pOkxmhP5dYzA,NaN,El Cap Restaurant,3500 4th St N,27.804140,-82.638855,3.5,414,Normally open
26433,26608,21,9iCum5W48TqNVDTZCJUKjg,NaN,Plantation Pub,8321 Sawyer Brown Rd,36.070748,-86.947891,3.5,40,Normally open
26434,26609,181,Y5gyxnQt44B3axgzrjttlw,NaN,Don Cruz Snowballs,4213 Williams Blvd,30.033566,-90.238520,4.5,6,Normally open
26435,26610,361,esBGrrmuZzSiECyRBoKvvA,NaN,Colony Grill - St. Petersburg,670 Central Ave,27.770872,-82.643069,4.5,38,Normally open

In [6]:
nombre_archivo = 'datos\\reviews.csv'
dfreviews = pd.read_csv(nombre_archivo)

C:\Users\Peluchex\AppData\Local\Temp\ipykernel_19424\4232742227.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  dfreviews = pd.read_csv(nombre_archivo)

In [7]:
dfreviews.head(3)

,id_restaurante,identificador_plataforma,id_review,id_plataforma,raiting,review,date,useful,funny,cool,id_usuario
0,2,0x88dae191ee505917:0x6ba3e25388d3fad4,895976,Google,5,Excellent Dominican/PuertoRican food. Her Arro...,2016-07-01 20:10:00,NaN,NaN,NaN,111192300499999997952.0
1,2,0x88dae191ee505917:0x6ba3e25388d3fad4,895977,Google,5,The food and service is great . In my top 3 do...,2016-08-17 07:42:00,NaN,NaN,NaN,108990109100000002048.0
2,2,0x88dae191ee505917:0x6ba3e25388d3fad4,895978,Google,5,Amazing food!,2017-05-09 12:34:00,NaN,NaN,NaN,112239077299999997952.0

In [8]:
nombre_archivo = 'datos\\categoriasrestaurantes.csv'
dfcategoriasrestaurantes = pd.read_csv(nombre_archivo)

dfcategoriasrestaurantes=dfcategoriasrestaurantes.drop(['Unnamed: 0'],axis=1)

In [9]:
dfcategoriasrestaurantes.head(3)

   id_categoria_restaurante  id_categoria  id_restaurante
0                         0           249             663
1                         1           249             926
2                         2           249            1465

In [10]:
nombre_archivo = 'datos\\ciudades.csv'
dfciudades = pd.read_csv(nombre_archivo, sep=';')

In [11]:
dfciudades.head(3)

   id_ciudad  id_estado             ciudad
0          0         12            Alachua
1          1         12             Alford
2          2         12  Altamonte Springs

In [12]:
dfagrupado = pd.merge(dfcategoriasrestaurantes, dfcategorias, left_on= 'id_categoria', right_on= 'id_categoria', how= 'left')
dfagrupado = dfagrupado.drop(['id_categoria_restaurante', 'id_categoria'], axis=1)

In [13]:
dfagrupado = pd.merge(dfagrupado, dfrestaurantes, left_on='id_restaurante', right_on='id_restaurante', how='left')
#dfagrupado = dfagrupado.drop(['identificador_yelp', 'identificador_google', 'direccion', 'latitud', 'longitud'], axis=1)

In [14]:
dfagrupado = pd.merge(dfagrupado, dfreviews, left_on='id_restaurante', right_on='id_restaurante', how='left')
dfagrupado = dfagrupado.drop(['identificador_plataforma', 'id_review', 'id_plataforma'], axis=1)

In [15]:
dfagrupado = pd.merge(dfagrupado, dfciudades, left_on='id_ciudad', right_on='id_ciudad', how='left')
dfagrupado = dfagrupado.drop(['id_estado'], axis=1)

In [16]:
dfagrupado

,id_restaurante,categoria,id_ciudad,identificador_yelp,identificador_google,nombre,direccion,latitud,longitud,avg_rating,reviews_count,estado,raiting,review,date,useful,funny,cool,id_usuario,ciudad
0,663,aa shop,275,NaN,0x88e7d55e7ea0c2d5:0xbf04f0992703c75e,Brick & Iron Cafe,217 SE 1st Ave Unit B,29.184412,-82.135577,5.0,44,Normally open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ocala
1,926,aa shop,83,NaN,0x88e6d7fc3c22935b:0x80633e71f6811a71,GoJuice,3346 S Atlantic Ave,29.153382,-80.970656,4.9,13,Normally open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Daytona Beach
2,1465,aa shop,258,NaN,0x88dae1e9105bbaf7:0xc81a46f791359379,The Boost Juice Bar & Kitchen,1844 Tamiami Trail N,26.169654,-81.794361,4.4,58,Permanently closed,5.0,The service was excellent. The location is kep...,2019-09-23 01:53:00,NaN,NaN,NaN,108213546700000002048.0,Naples
3,1465,aa shop,258,NaN,0x88dae1e9105bbaf7:0xc81a46f791359379,The Boost Juice Bar & Kitchen,1844 Tamiami Trail N,26.169654,-81.794361,4.4,58,Permanently closed,5.0,"By FAR, the BEST juice place around. I will dr...",2019-03-06 22:41:00,NaN,NaN,NaN,101768411000000004096.0,Naples
4,1465,aa shop,258,NaN,0x88dae1e9105bbaf7:0xc81a46f791359379,The Boost Juice Bar & Kitchen,1844 Tamiami Trail N,26.169654,-81.794361,4.4,58,Permanently closed,5.0,I was looking for something healthy to eat at ...,2017-12-12 17:52:00,NaN,NaN,NaN,103069532400000008192.0,Naples
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9063804,11427,yoga studio,37,NaN,0x88c3162d9fec7b7d:0x7a5e8415f5099753,Village of the Arts,1017 12th Ave W,27.488214,-82.571359,4.1,28,Normally open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bradenton
9063805,13143,yoga studio,247,NaN,0x88d9ba0f0066db69:0xb9115adb8e1d6f3f,Enso Life Center,305 N Royal Poinciana Blvd,25.824461,-80.285202,5.0,14,Permanently closed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Miami Springs
9063806,14178,yoga studio,337,NaN,0x88c3400e0044b8c9:0x3afb46536a47746a,ionie Retreat and Organic Raw Food Cafe,1241 Fruitville Rd,27.339074,-82.545810,4.9,88,Normally open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sarasota
9063807,14917,yoga studio,101,NaN,0x88dca929bc8ae733:0x3dc0365bbfbeaaf0,Fusion Studios,24123 Peachland Blvd,27.015719,-82.053579,4.9,18,Normally open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,El Portal
9063808,12188,youth organization,301,NaN,0x889388c689d5b483:0xa44618f548ceaaa9,Mt Fuji Shave Ice Co.,8762 Thomas Dr,30.169501,-85.791570,2.3,3,Normally open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Panama City Beach

In [17]:
dfagrupado = dfagrupado[dfagrupado['id_ciudad'].isin([2, 32, 37, 242, 243, 299, 332, 361, 393])]

In [18]:
dfagrupado

,id_restaurante,categoria,id_ciudad,identificador_yelp,identificador_google,nombre,direccion,latitud,longitud,avg_rating,reviews_count,estado,raiting,review,date,useful,funny,cool,id_usuario,ciudad
71,4791,aa shop,393,NaN,0x88d8d6624851f499:0xaaef557aa1dccc8a,Alchemy Juice Co & Market,527 Clematis St,26.713559,-80.056462,4.9,28,Normally open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,West Palm Beach
111,9146,aa shop,32,NaN,0x88d8e3bcdaad5723:0xae2f2c17be9d6c9a,Long Story Short Cafe,132 NE 2nd St,26.352016,-80.084757,5.0,8,Normally open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Boca Raton
1080,17692,acai bowls,361,v1F-Sgp_b8Vjbfhlp0Obrg,NaN,Baum Ave Market,1113 Central Ave,27.771300,-82.650569,4.5,22,Normally open,5.0,Love the atmosphere. Been wanting to check out...,2019-04-15 18:28:59,3.0,0.0,1.0,9046275824.0,St. Petersburg
1081,17692,acai bowls,361,v1F-Sgp_b8Vjbfhlp0Obrg,NaN,Baum Ave Market,1113 Central Ave,27.771300,-82.650569,4.5,22,Normally open,5.0,Baum Market is a very cool mini food hall. The...,2019-05-12 20:24:51,1.0,0.0,0.0,9044140176.0,St. Petersburg
1082,17692,acai bowls,361,v1F-Sgp_b8Vjbfhlp0Obrg,NaN,Baum Ave Market,1113 Central Ave,27.771300,-82.650569,4.5,22,Normally open,5.0,Come for the vegan cookie sandwich at Valhalla...,2019-07-03 13:52:49,0.0,0.0,0.0,8809190736.0,St. Petersburg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9063794,24389,yoga,361,7xLJ8jLFr9lxzAOvB-URyw,NaN,Blake Rice Massage,7310 Central Ave N,27.770848,-82.739513,2.5,7,Normally open,1.0,Bought a session on living social and wanted t...,2016-09-29 20:26:27,1.0,2.0,0.0,9039772368.0,St. Petersburg
9063795,24389,yoga,361,7xLJ8jLFr9lxzAOvB-URyw,NaN,Blake Rice Massage,7310 Central Ave N,27.770848,-82.739513,2.5,7,Normally open,5.0,"AMAZING MASSAGE!! Wow, this guy truly knows wh...",2017-07-18 14:19:33,1.0,0.0,0.0,8808279056.0,St. Petersburg
9063796,24389,yoga,361,7xLJ8jLFr9lxzAOvB-URyw,NaN,Blake Rice Massage,7310 Central Ave N,27.770848,-82.739513,2.5,7,Normally open,1.0,I bought a voucher from Living Social for a 90...,2017-01-06 14:07:53,1.0,0.0,0.0,8813615920.0,St. Petersburg
9063800,1852,yoga studio,393,NaN,0x88d8d68970802229:0xaa0ee90470bc0b3,The Bee Organics,123 Datura St,26.712445,-80.050229,3.7,15,Permanently closed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,West Palm Beach
9063804,11427,yoga studio,37,NaN,0x88c3162d9fec7b7d:0x7a5e8415f5099753,Village of the Arts,1017 12th Ave W,27.488214,-82.571359,4.1,28,Normally open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bradenton

In [19]:
# dfagrupado_con_listas=dfagrupado[dfagrupado['nombre'] == "Shoney's Restaurant"]

In [20]:
#dfagrupado_con_listas = dfagrupado_con_listas.groupby(['nombre', 'ciudad', 'direccion']).agg({
#    'categoria': 'unique',
#    'avg_rating': 'mean',
#    'reviews_count': 'mean',
#}).reset_index()

In [21]:
#dfagrupado_con_listas

In [23]:
import pandas as pd

# Supongamos que tienes un DataFrame existente llamado df
data = {'Nombre': ['ggg', 'Alice', 'Charlie'],
        'Edad': [25, 30, 35]}
df = pd.DataFrame(data)

# Nuevo dato que quieres agregar
nuevo_dato = {'Nombre': 'David', 'Edad': 28}

# Crear un nuevo DataFrame con el nuevo dato
nuevo_df = pd.DataFrame([nuevo_dato])

# Concatenar el nuevo DataFrame con el existente y reindexar
df = pd.concat([nuevo_df, df]).reset_index(drop=True)

print(df)

    Nombre  Edad
0    David    28
1      ggg    25
2    Alice    30
3  Charlie    35

In [ ]:
import pandas as pd

def recomendacion_restaurant(palabra_clave: str, ciudad: str) -> pd.DataFrame:
    jaccard_csv = cargar_sis_recomendacion()
    dfagrupado = cargar_restaurantes()    
    
    # Filtramos los restaurantes que pertenecen a nuestro cliente
    restaurantes_prop = dfagrupado[dfagrupado['id_restaurante'].isin([8265, 8321, 10158, 10629, 19398, 9499, 8018, 9510, 15316, 4915])]
    
    # Filtramos por la ciudad que puso el usuario
    restaurantes_prop = restaurantes_prop[restaurantes_prop['ciudad'].isin([ciudad])]
    
    # Ordeno los restaurantes por rating y tomo solo el mejor
    mejor_restaurante = restaurantes_prop.sort_values(by='avg_rating', ascending=False).head(1)
    
    # Filtrar restaurantes que contienen la palabra clave
    restaurantes_recom = dfagrupado[dfagrupado['nombre'].str.lower().str.contains(palabra_clave, case=False)]
    
    if restaurantes_recom.empty:
        print(f"No se encontraron restaurantes que contengan '{palabra_clave}'.")
        return pd.DataFrame()

    # Obtener el nombre del restaurante
    restaurantes_recom_nombre = restaurantes_recom['nombre'].iloc[0]
    
    # Obtener recomendaciones usando el nombre del restaurante
    recomendaciones = jaccard_csv[restaurantes_recom_nombre].sort_values(ascending=False)
    
    # Filtrar los restaurantes recomendados por ciudad
    restaurantes_recomendados = dfagrupado[dfagrupado['nombre'].isin(recomendaciones.index) & (dfagrupado['ciudad'] == ciudad)]
    
    # Ordenar el DataFrame por las recomendaciones de Jaccard en orden descendente
    restaurantes_recomendados = restaurantes_recomendados.sort_values(by=restaurantes_recomendados.columns[6], ascending=False)
    
    # Tomar los primeros 4 resultados
    restaurantes_recomendados = restaurantes_recomendados.head(4)
    
    return restaurantes_recomendados[['nombre', 'ciudad', 'avg_rating', 'reviews_count']]